<div class="mb-sm">
  <%= safe_join(question.body.split("\n"), tag(:br)) %>
</div>

<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= simple_format(question.answer) %>
  </div>
<% end %>

<p class="mb text-sm text-grey">
  <%= link_to_author(question) %>
</p>

<div class="text-sm question-footer ">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <%- unless question.hidden %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question.id), method: :put, title: 'Скрыть вопрос', class: 'mr-sm'%>
      <%- end %>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос', class: 'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос', form: {data: {turbo_confirm: 'Точно удалить вопрос?'}} %>
    </div>
  <% end %>
</div>
